<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<div th:fragment="menu"
     class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a th:text="#{menu.company.name}" href="/" class="p-2 text-dark my-0 mr-md-auto font-weight-normal"></a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a th:if="${session.user?.id == 6}" class="p-2 text-dark" href="/addCar/">Добавить автомобиль</a>
        <a th:if="${session.user?.id == 6}" class="p-2 text-dark" href="/users/">Пользователи</a>
        <a class="p-2 text-dark" href="/aboutUs">О нас</a>
        <a th:if="${session.user?.id == 6}" class="p-2 text-dark" href="/bookings/">Бронирования</a>
        <a th:if="${session.user != null}" class="p-2 text-dark" href="/profile">Профиль</a>
    </nav>
    <a th:if="${session.user == null}" class="btn btn-outline-primary" href="/login">Войти</a>
    <a th:if="${session.user != null}" class="btn btn-outline-primary" href="/logout">Выйти</a>
</div>