<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:insert="~{includes/header::head}"></head>
<body>
<nav
        th:insert="~{includes/menu::menu}">
</nav>
<div class="container">
    <div class="col-md-1 order-md-1"></div>
    <div class="py-5 col-md-11 mb-3 order-md-2">
        <form method="post" th:object="${carDto}" th:action="@{/addCar}">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <label>Марка</label>
                    <input type="text" class="form-control" th:field="*{brand}" autocomplete="off"
                           required
                           pattern="[A-Za-z_]{2,40}"
                           oninvalid="this.setCustomValidity('Требуются символы латинского алфавита')"
                           oninput="setCustomValidity('')">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Модель</label>
                    <input type="text" class="form-control" th:field="*{model}" autocomplete="off"
                           required
                           pattern="[A-Za-z0-9_]{2,40}"
                           oninvalid="this.setCustomValidity('Требуются символы латинского алфавита')"
                           oninput="setCustomValidity('')">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ">
                    <label>Тип двигателя</label>
                    <select class="custom-select d-block w-100" th:field="*{engine}" required>
                        <option value="">Выберите...</option>
                        <option th:each="engine : ${T(by.bsuir.coursework.car.details.EngineType).values()}"
                                th:value="${engine}"
                                th:text="#{${'engine.' + engine}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Тип коробки передач</label>
                    <select class="custom-select d-block w-100" th:field="*{transmission}" required>
                        <option value="">Выберите...</option>
                        <option th:each="transmission : ${T(by.bsuir.coursework.car.details.TransmissionType).values()}"
                                th:value="${transmission}"
                                th:text="#{${'transmission.' + transmission}}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ">
                    <label>Объем багажника</label>
                    <select class="custom-select d-block w-100" th:field="*{trunk}" required>
                        <option value="">Выберите...</option>
                        <option th:each="trunkVolume : ${T(by.bsuir.coursework.car.details.TrunkVolume).values()}"
                                th:value="${trunkVolume}"
                                th:text="#{${'trunk.' + trunkVolume}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Тип кузова</label>
                    <select class="custom-select d-block w-100" th:field="*{vehicle}" required>
                        <option value="">Выберите...</option>
                        <option th:each="vehicle : ${T(by.bsuir.coursework.car.details.VehicleType).values()}"
                                th:value="${vehicle}"
                                th:text="#{${'vehicle.' + vehicle}}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <label>Мощность</label>
                    <input type="number" class="form-control" th:field="*{performance}" autocomplete="off"
                           required
                           min="50" max="1000">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Расход топлива на 100 км</label>
                    <input type="number" step="0.1" class="form-control" th:field="*{fuelConsumption}" autocomplete="off"
                           required
                           min="1" max="50">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <label>Вместимость</label>
                    <input type="number" class="form-control" th:field="*{capacity}" autocomplete="off"
                           required
                           min="2" max="9">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Пробег</label>
                    <input type="number"  class="form-control" th:field="*{mileage}" autocomplete="off"
                           required
                           min="0" max="250000">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <label>Год производства</label>
                    <input type="number" class="form-control" th:field="*{year}" autocomplete="off"
                           required
                           min="1900" max="2024">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Цена за сутки</label>
                    <input type="number"  class="form-control" th:field="*{pricePerDay}" autocomplete="off"
                           required
                           min="25" max="2500">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <label>Номерной знак</label>
                    <input type="number" class="form-control" th:field="*{plateNum}" autocomplete="off"
                           min="1" max="99999" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Кондиционер</label>
                    <input
                            type="checkbox"
                            th:field="*{aircon}"
                            th:checked="${aircon}"/>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row d-flex">
                <div class="col-md-4 order-md-1"></div>
                <div class="py-2 col-md-4 mb-3 order-md-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:insert="~{includes/footer :: footer}" class="bg-white"></footer>
</body>
</html>