<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:insert="~{includes/header::head}"></head>
<body>
<nav
        th:insert="~{includes/menu::menu}">
</nav>
<div class="container">
    <div class="col-md-1 order-md-1"></div>
    <div class="py-5 col-md-11 mb-3 order-md-2">
        <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" th:text="${booking.car.brand} + ' ' + ${booking.car.model}"></a>
                </h3>
                <strong class="d-inline-block mb-2 text-primary" th:text="'Дата начала аренды: ' + ${booking.pickupDate}"></strong>
                <strong class="d-inline-block mb-2 text-primary" th:text="'Дата начала аренды: ' + ${booking.dropDate}"></strong>
                <div class="mb-1 text-muted"
                     th:text="'Тип двигателя: ' + #{${'engine.' + booking.car.engine}}"></div>
                <div class="mb-1 text-muted"
                     th:text="'Расход топлива: ' + ${booking.car.fuelConsumption} + ' л/100км'"></div>
                <div class="mb-1 text-muted"
                     th:text="'Коробка передач: ' + #{${'transmission.' + booking.car.transmission}}"></div>
                <div class="mb-1 text-muted"
                     th:text="${booking.car.aircon} ? 'Кондиционер: есть' : 'Кондиционер: отсутсвует'"></div>
                <div class="mb-1 text-muted" th:text="'Пробег: ' + ${booking.car.mileage}"></div>
                <div class="mb-1 text-muted" th:text="'Год: ' + ${booking.car.year}" ></div>
                <p class="card-text mb-auto"
                   th:text="'Это ' + #{${'vehicle.' + booking.car.vehicle}} + ' мощностью ' + ${booking.car.performance} + 'л.с. Автомобиль обладает вместимостью ' + ${booking.car.capacity} + ' пассажира(ов) и багажник объемом ' + #{${'trunk.' + booking.car.trunk}} + '.'">
                </p>
                <p class="card-text mb-auto" th:text="'Итоговая стоимость: ' + ${booking.price}"></p>
<!--                <a th:href="@{/confirmBooking/{id}(id=${booking.id})}">Подтвердить бронирование</a>-->
                <a th:href="@{/confirmBooking}">Подтвердить бронирование</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block"
                 th:src="@{${'/img/' + booking.car.brand + '_' + booking.car.model + '.jpg'}}"
                 alt="Card image cap">
            <!--            </div>-->
        </div>
    </div>
</div>
<footer th:insert="~{includes/footer :: footer}" class="bg-white"></footer>
</body>
</html>