<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:insert="~{includes/header::head}"></head>
<body>
<nav
        th:insert="~{includes/menu::menu}">
</nav>
<div th:insert="~{includes/datepicker::datepicker}">
</div>

<div class="row">
    <div class="col-md-4 order-md-1">
        <div class="container">
            <form method="post" th:action="@{/filterAvailableCars}">
                <h4 class="col-md-8 mb-3">Фильтры</h4>
                <div class="col-md-8 mb-3">
                    <label>Тип двигателя</label>
                    <select class="custom-select d-block w-100" name="engine" id="engine">
                        <option value="">Выберите...</option>
                        <option th:each="engine : ${T(by.bsuir.coursework.car.details.EngineType).values()}"
                                th:value="${engine}"
                                th:text="#{${'engine.' + engine}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-8 mb-3">
                    <label>Тип кузова</label>
                    <select class="custom-select d-block w-100" name="vehicleType" id="vehicleType">
                        <option value="">Выберите...</option>
                        <option th:each="vehicleType : ${T(by.bsuir.coursework.car.details.VehicleType).values()}"
                                th:value="${vehicleType}"
                                th:text="#{${'vehicle.' + vehicleType}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-8 mb-3">
                    <label>Объем багажника</label>
                    <select class="custom-select d-block w-100" name="trunkVolume" id="trunkVolume">
                        <option value="">Выберите...</option>
                        <option th:each="trunkVolume : ${T(by.bsuir.coursework.car.details.TrunkVolume).values()}"
                                th:value="${trunkVolume}"
                                th:text="#{${'trunk.' + trunkVolume}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-8 mb-3">
                    <label>Тип коробки передач</label>
                    <select class="custom-select d-block w-100" name="transmission" id="transmission">
                        <option value="">Выберите...</option>
                        <option th:each="transmission : ${T(by.bsuir.coursework.car.details.TransmissionType).values()}"
                                th:value="${transmission}"
                                th:text="#{${'transmission.' + transmission}}">
                        </option>
                    </select>
                </div>
                <div class="col-md-8 mb-3">
                    <label>Цена за сутки</label>
                    <select class="custom-select d-block w-100" name="price" id="price">
                        <option value="">Выберите...</option>
                        <option value="50">До 50$</option>
                        <option value="90">До 90$</option>
                        <option value="130">До 130$</option>
                        <option value="170">До 170$</option>
                    </select>
                </div>
                <div class="col-md-8 mb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Поиск</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8 order-md-2">
        <div th:switch="${cars}">
            <h2 th:case="null">Нет свободных машин</h2>
            <div th:case="*">
                <th:block th:each="car : ${cars}">
                    <!--                <div class="row mb-2">-->
                    <div class="col-md-10 order-md-2">
                        <div class="card flex-md-row mb-4 box-shadow h-md-300">
                            <div class="card-body d-flex flex-column align-items-start">
                                <h3 class="mb-0">
                                    <a class="text-dark" th:text="${car.brand} + ' ' + ${car.model}"></a>
                                </h3>
                                <strong class="d-inline-block mb-2 text-primary"
                                        th:text="${car.pricePerDay} + ' $/сутки'"></strong>
                                <div class="mb-1 text-muted"
                                     th:text="'Тип двигателя: ' + #{${'engine.' + car.engine}}"></div>
                                <div class="mb-1 text-muted"
                                     th:text="'Расход топлива: ' + ${car.fuelConsumption} + ' л/100км'"></div>
                                <div class="mb-1 text-muted"
                                     th:text="'Коробка передач: ' + #{${'transmission.' + car.transmission}}"></div>
                                <div class="mb-1 text-muted"
                                     th:text="${car.aircon} ? 'Кондиционер: есть' : 'Кондиционер: отсутсвует'"></div>
                                <p class="card-text mb-auto"
                                   th:text="'Это ' + #{${'vehicle.' + car.vehicle}} + ' мощностью ' + ${car.performance} + 'л.с. Автомобиль обладает вместимостью ' + ${car.capacity} + ' пассажира(ов) и багажник объемом ' + #{${'trunk.' + car.trunk}} + '.'">
                                </p>
                                <a th:if="${session.user != null}" th:href="@{/book/{id}(id=${car.id})}">Забронировать</a>
                                <a th:if="${session.user == null}">Бронирование доступно только авторизированным пользователям</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-md-block"
                                 th:src="@{${'/img/' + car.brand + '_' + car.model + '.jpg'}}"
                                 alt="Card image cap">
                        </div>
                    </div>
                    <!--                </div>-->
                </th:block>
            </div>

        </div>
    </div>
</div>
<footer th:insert="~{includes/footer :: footer}" class="bg-white"></footer>
</body>
</html>