<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<head th:insert="~{includes/header::head}"></head>
<body>
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-3 order-md-1"></div>
        <div class="col-md-6 order-md-2 py-5">
            <div class="py-5">
                <form method="post" th:action="@{/login}">
                    <div class="justify-content-center">
                        <label>Электронная почта</label>
                        <input type="email" name="email" class="form-control" autocomplete="off"
                               pattern="[a-z0-9.]{2,40}@[a-z0-9]{2,40}.[a-z0-9]{2,40}" required
                               oninvalid="this.setCustomValidity('Введите эл. почту например blabla@mail.com')"
                               oninput="setCustomValidity('')">
                        <label>Пароль</label>
                        <input type="password" name="password" class="form-control" autocomplete="off"
                               pattern="[a-zA-Z0-9]{6,40}" required
                               oninvalid="this.setCustomValidity('Пароль должен состоять минимум из 6 символов A-Z, 0-9')"
                               oninput="setCustomValidity('')">
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-4 order-md-1"></div>
                            <div class="col-md-4 order-md-2">
                                <button class="btn btn-primary shadow d-block w-100" type="submit">Войти</button>
                                <div th:if="${error != null}">
                                    <div th:text="${error}"></div>
                                </div>
                                <a style="text-align: center" href="/registration">Регистрация</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:insert="~{includes/footer :: footer}" class="bg-white"></footer>
</div>
</body>
</html>